@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap');

* {
    margin:0;
    padding:0;
    box-sizing: border-box;
    text-decoration: none;
}


#header {
    border-bottom: ridge 1px #F4F4F4;
    height: 50px;
    margin: auto;
    padding: 12px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    opacity: 1;

}
.logo {
    width: 75px;
    align-items: center;
    margin-right: 950px;

}

.icons{
    margin-right:5px;
    margin-left: 2px;
    display:inline-block;
    justify-content:flex-end;
}

.icons:hover {
    background: #ffbb13;
    color: white;
    box-shadow: inset 0 0 0 3px #ffbb13;
}

div {
    width: 100%;
    height: 100%;
    margin-top: 40px;
    margin-right: 23px;
    display: inline-block;
    background: #F4F4F4 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    opacity: 1;
}

#container-a {
    border-top: solid 5px #ffbb13;
    margin-left: 55px;
    height: 500px;
    font-family: 'Fira Sans', sans-serif;
    text-align: center;
    color: #ffbb13;
    font-weight: bold;
    font-size: 25px;
    background-color: #f3f3f3;
}

#container-b {
    border-top: solid 5px #ea5959;
    font-family: 'Fira Sans', sans-serif;
    height: 500px;
    text-align:center;
    color:#ea5959;
    font-weight: 100px;
    font-size: 25px;
    background-color: #f3f3f3;
}

#container-c {
    border-top: solid 5px #8A8A8A;
    height: 500px;
    font-family: 'Fira Sans', sans-serif;
    text-align:center;
    color: #8A8A8A;
    font-weight: 100px;
    font-size: 25px;
    background-color:#f3f3f3;
}

#container-d {
    border-top: solid 5px  #111111;
    height: 500px;
    font-family: 'Fira Sans', sans-serif;
    font-weight: 100px;
    font-size: 25px;
    text-align:center;
    color: #111111;
    background-color: #f3f3f3;
}

#container-e {
    border-top: solid 5px #8A8A8A;
    height: 500px;
    font-family: 'Fira Sans', sans-serif;
    font-weight: 100px;
    font-size: 25px;
    text-align:center;
    color:#F4F4F4;
    background-color: #8A8A8A;
}

.botao-a {
    width: 230px;
    height: 35px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-family: 'Fira Sans', sans-serif;
    font-weight: 200;
    font-size: 15px;
    color: #ffbb13;
    background-color: #f3f3f3;
    box-shadow: none;
    border: solid 1px #ffbb13;


}
.botao-aa{
    width: 230px;
    height: 35px;
    margin-top: 3px;
    margin-bottom: 10px;
    font-family: 'Fira Sans', sans-serif;
    font-weight: 200;
    font-size: 15px;
    color: #8a8a8a;
    background-color: #f3f3f3;
    box-shadow: none;
    border: solid 1px #8a8a8a;

}

.botao-a:hover {
    background: #ffbb13;
    color: white;
    box-shadow: inset 0 0 0 3px #ffbb13;

}

.botao-b {
    width: 230px;
    height: 35px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-family: 'Fira Sans', sans-serif;
    font-weight: 200;
    font-size: 15px;
    color: #ea5959;
    background-color: #f3f3f3;
    box-shadow: none;
    border: solid 1px #ea5959;
}

.botao-bb {
    width: 230px;
    height: 35px;
    margin-top: 3px;
    margin-bottom: 10px;
    font-family: 'Fira Sans', sans-serif;
    font-weight: 200;
    font-size: 15px;
    color: #8a8a8a;
    background-color: #f3f3f3;
    box-shadow: none;
    border: solid 1px #8a8a8a;
}

.botao-b:hover {
    background: #ea5959;
    color: white;
    box-shadow: inset 0 0 0 3px #ea5959;

}

.botao-c {
    width: 230px;
    height: 35px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-family: 'Fira Sans', sans-serif;
    font-weight: 200;
    font-size: 15px;
    background-color: #f3f3f3;
    box-shadow: none;
    border: solid 1px #8A8A8A;

}
.botao-cc {
    width: 230px;
    height: 35px;
    margin-top: 3px;
    margin-bottom: 10px;
    font-family: 'Fira Sans', sans-serif;
    font-weight: 200;
    font-size: 15px;
    color: #8A8A8A;
    background-color: #f3f3f3;
    box-shadow: none;
    border: solid 1px #8A8A8A;
}

.botao-c:hover {
    background: #8A8A8A;
    color: white;
    box-shadow: inset 0 0 0 3px #8A8A8A;

}

.botao-d {
    width: 230px;
    height: 35px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-family: 'Fira Sans', sans-serif;
    font-weight: 200;
    font-size: 15px;
    color: #111111;
    background-color: #f3f3f3;
    box-shadow: none;
    border: solid 1px #111111;
}

.botao-dd {
    width: 230px;
    height: 35px;
    margin-top: 3px;
    margin-bottom: 10px;
    font-family: 'Fira Sans', sans-serif;
    font-weight: 200;
    font-size: 15px;
    color: #8A8A8A;
    background-color: #f3f3f3;
    box-shadow: none;
    border: solid 1px #8A8A8A;


}

.botao-d:hover {
    background: #111111;
    color: white;
    box-shadow: inset 0 0 0 3px #111111;

}
.botao-e {
    width: 230px;
    height: 35px;
    margin-top: 10px;
    margin-bottom: 3px;
    font-family: 'Fira Sans', sans-serif;
    font-weight: 200;
    font-size: 15px;
    color: #f3f3f3;
    background-color: #8A8A8A;
    border: solid 1px white;


}
#botao-e:hover {
    background: #F4F4F4;
    color: black;
    box-shadow: inset 0 0 0 3px #F4F4F4;
}

.button-list {
    margin-left: 0;
    margin-top: 8px;
    margin-bottom: 10px;
}

.title {
    margin-top: 30px;
}

section {
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}