@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap');

#header {
    border-bottom: ridge 1px #F4F4F4;
    height: 20px;
    margin: auto;
    padding: 12px;
    
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: white;

}
.logo {
    width: 75px;
    align-items: center;
    margin-right: 950px;

}

.icons{
    margin-right:5px;
    margin-left: 5px;
    display:inline-block;
    justify-content:flex-end;
}

.icons:hover {
    background: #ffbb13;
    color: white;
    box-shadow: inset 0 0 0 3px #ffbb13;
}

div {
    width: 250px;
    height: 550px;
    margin-right: 20px;
    display: inline-block;
}

#container-a {
    border-top: solid 5px #ffbb13;
    margin-left: 100px;
    margin-top: 75px;
    font-family: 'Fira Sans', sans-serif;
    text-align:center;
    color: #ffbb13;
    font-weight: bold;
    font-size: 25px;
    background-color: #f3f3f3;
}

#container-b {
    border-top: solid 5px #ea5959;
    margin-top: 75px;
    font-family: 'Fira Sans', sans-serif;
    font-weight: 100px;
    font-size: 25px;
    text-align:center;
    color:#ea5959;
    font-weight: bold;
    background-color: #f3f3f3;
}

#container-c {
    
    border-top: solid 5px #8A8A8A;
    font-family: 'Fira Sans', sans-serif;
    font-weight: 100px;
    font-size: 25px;
    text-align:center;
    color: #8A8A8A;
    font-weight: bold;
    background-color:#f3f3f3;
}

#container-d {
    
    border-top: solid 5px  #111111;
    font-family: 'Fira Sans', sans-serif;
    font-weight: 100px;
    font-size: 25px;
    text-align:center;
    color: #111111;
    background-color: #f3f3f3;
}

#container-e {

    border-top: solid 5px #8A8A8A;
    font-family: 'Fira Sans', sans-serif;
    font-weight: 100px;
    font-size: 25px;
    font-weight: bold;
    text-align:center;
    color:#F4F4F4;
    background-color: #8A8A8A;
}

.botao-a {
    width: 180px;
    height: 35px;
    margin-top: 3px;
    margin-bottom: 10px;
    font-family: 'Fira Sans', sans-serif;
    font-weight: 200;
    font-size: 15px;
    color: #ffbb13;
    background-color: #f3f3f3;
    box-shadow: none;
    border: solid 1px #ffbb13;


}

.botao-a:hover {
    background: #ffbb13;
    color: white;
    box-shadow: inset 0 0 0 3px #ffbb13;

}

.botao-b {
    width: 180px;
    height: 35px;
    margin-top: 3px;
    margin-bottom: 10px;
    font-family: 'Fira Sans', sans-serif;
    font-weight: 200;
    font-size: 15px;
    background-color: #f3f3f3;
    box-shadow: none;
    border: solid 1px #ea5959;
}
.botao-b:hover {
    background: #ea5959;
    color: white;
    box-shadow: inset 0 0 0 3px #ea5959;

}

.botao-c {
    width: 180px;
    height: 35px;
    margin-top: 3px;
    margin-bottom: 10px;
    font-family: 'Fira Sans', sans-serif;
    font-weight: 200;
    font-size: 15px;
    background-color: #f3f3f3;
    box-shadow: none;
    border: solid 1px #8A8A8A;

}

.botao-c:hover {
    background: #8A8A8A;
    color: white;
    box-shadow: inset 0 0 0 3px #8A8A8A;

}

.botao-d {
    width: 180px;
    height: 35px;
    margin-top: 3px;
    margin-bottom: 10px;
    font-family: 'Fira Sans', sans-serif;
    font-weight: 200;
    font-size: 15px;
    background-color: #f3f3f3;
    box-shadow: none;
    border: solid 1px #111111;


}

.botao-d:hover {
    background: #111111;
    color: white;
    box-shadow: inset 0 0 0 3px #111111;

}
.botao-e {
    width: 180px;
    height: 35px;
    margin-top: 3px;
    margin-bottom: 10px;
    font-family: 'Fira Sans', sans-serif;
    font-weight: 200;
    font-size: 15px;
    color: #f3f3f3;
    background-color: #8A8A8A;
    border: solid 1px white;


}
.botao-e:hover {
    background: #F4F4F4;
    color: black;
    box-shadow: inset 0 0 0 3px #F4F4F4;
}

.button-list {
    margin-right: 30px;
    margin-top: 8px;
}

